/*bold*/
@font-face {
    font-family: "HelveticaNeueLT-bd Pro 55 Roman"; 
    src: url("//db.onlinewebfonts.com/t/103581eb752b4fa618534d266d46d568.eot"); 
    src: url("//db.onlinewebfonts.com/t/103581eb752b4fa618534d266d46d568.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/103581eb752b4fa618534d266d46d568.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/103581eb752b4fa618534d266d46d568.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/103581eb752b4fa618534d266d46d568.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/103581eb752b4fa618534d266d46d568.svg#HelveticaNeueLT Pro 55 Roman") format("svg"); 
}
@import url(//db.onlinewebfonts.com/c/103581eb752b4fa618534d266d46d568?family=HelveticaNeueLT+Pro+55+Roman);
/*normal*/
@font-face{
        font-family: 'HelveticaNeueLT Pro 55 Roman'; 
        src: url("//db.onlinewebfonts.com/t/5fe894d3e06d8f07fbe9d80b3157afd5.eot"); 
        src: url("//db.onlinewebfonts.com/t/5fe894d3e06d8f07fbe9d80b3157afd5.eot?#iefix") format("embedded-opentype"), 
        url("//db.onlinewebfonts.com/t/5fe894d3e06d8f07fbe9d80b3157afd5.woff2") format("woff2"), 
        url("//db.onlinewebfonts.com/t/5fe894d3e06d8f07fbe9d80b3157afd5.woff") format("woff"), 
        url("//db.onlinewebfonts.com/t/5fe894d3e06d8f07fbe9d80b3157afd5.ttf") format("truetype"), 
        url("//db.onlinewebfonts.com/t/5fe894d3e06d8f07fbe9d80b3157afd5.svg#HelveticaNeueLT Pro 55 Roman") format("svg"); 
}
@import url(//db.onlinewebfonts.com/c/5fe894d3e06d8f07fbe9d80b3157afd5?family=HelveticaNeueLT+Pro+55+Roman);

div.upper-footer.container-fluid.p-3{
    color: black;
    font-size: 18px;
    font-family: 'HelveticaNeueLT Pro 55 Roman';
    padding: 48px, 32px;
}

div.lower-footer.container-fluid.bg-light.p-4{
    font-family: 'HelveticaNeueLT Pro 55 Roman';
    font-size: 12px;
}

a{
    font-size: 16px;
    color: #0090DA;
    font-family: 'HelveticaNeueLT-bd Pro 55 Roman';
    padding: 0px,16px,16px,0px;
    font-weight: bolder;
    width: 85px;
    height: 42px;
}

a.btn.btn-outline-secondary{
    font-size: 14px;
    margin: 0px,0px,16px,11.2px;
    padding: 8px, 24px;
    width: 115px;
    height: 39px;
    margin: 0px, 0px, 16px, 11px;
}

a.text-dark{
    font-size: 12px;
    color: black;
    font-weight: normal;
}

div.col-lg-8{
    font-family: 'HelveticaNeueLT Pro 55 Roman';
    font-weight:lighter;
    font-size: 12px;
}
