@import "font.css";

.header{
	padding-top: 150px;
	padding-bottom: 200px;
	padding-left: 150px;
	color: white;
}

.header h1{
	font-size: 70px;
	font-family: 'HelveticaNeueLT-bd Pro 55 Roman';
}

h1.mb-5.font-weight-bold{
    padding-bottom : 100px;
}

section#support-heroes.d-flex.align-items-center.w-100{
    font-family : 'HelveticaNeueLT Pro 55 Roman';
    color : black;
    font-size : 18px;
    padding-top : 300px;
}
.row{
	margin-left: 30px;
}

.col-3{
	font-size: 17px;
}

.col-4{
	font-size: 17px;
}

.col-12 h2{
	font-size: 40px;
    font-family: 'HelveticaNeueLT-bd Pro 55 Roman';
}

.col-12 p{
	font-size: 17px;
}

.col-12 a{
	background-color: #0090DA;
	text-decoration: none;
}

.container h2{
	font-size: 40px;
	font-family: 'HelveticaNeueLT-bd Pro 55 Roman';
}

.container h3{
	margin-bottom: 30px;
}

.container p{
	margin-bottom: 30px;
}

.faqs{
	color: white;
}

.faqs a{
	background-color: #0090DA;
	padding: 20px;
	text-decoration: none;
	text-align: center;
	margin-left: 700px;
}

div.col-4.my-5{
    font-family : 'HelveticaNeueLT Pro 55 Roman';
    font-size: 18px;
    color : black;
}
